.foot  {
    color: var(--color-primary);
    max-width: min(100% - 15vw, 45em);
    margin: 0 auto;
}

.foot ul {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem 0.8rem;
    padding: 0;
    list-style-type: none;
}

.foot li {
    margin: 0.1rem;
}
