.navheader {
  width: 100%;
  display: inline-flex;
  padding: clamp(1rem, 2vw, 2rem) clamp(2rem, 5vw, 5rem);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navheader > div {
  display: flex;
  flex-wrap: wrap;
  align-items:baseline;
}

.navheader > div > h1 {
  font-weight: var(--font-bold);
  margin: 0 0 0 0;
}

.navheader > div > h2,
.navheader > div > h3 {
  display: inline-flex;
  margin: 0 0 0 0;
}

.navheader > div > h3 {
  font-size: var(--larger-font-size);
}

.navheader a {
  text-decoration: none;
}

.navheader a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.navheader > div > h1:after {
  content: "/";
  padding-right: 0.5rem;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.navbar-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.25rem;
  font: var(--font-ui-bold);
  align-items: center;
  text-transform: uppercase;

  & [aria-current="page"] {
    text-decoration: none;
  }
}

.navbar-links a {
  padding: 0.75rem;
  border-radius: 50px;
}

.navbar-links a:hover {
  text-decoration-style: dotted;
  background-color: var(--color-secondary);
  color: var(--color-primary-highlight);
}

.navbar-search {
  padding: 0 1em;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-home {
  text-decoration: none;
}

@media (max-width: 768px) {
  .navheader {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .navbar-links {
    justify-content: flex-start;
  }

  .navbar-search {
    width: 100%;
    margin: 1rem 0 0;
  }
}

/* Theme toggle */
.theme-toggle {
  border: 0;
}

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--color-base);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--color-link-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--color-base);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--color-link-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1) {
  [data-theme="dark"] .sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform .5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3);
  }

  .sun-and-moon .moon > circle {
    transition: transform .25s var(--ease-out-5);
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx .25s var(--ease-out-5);
    }
  }

  [data-theme="dark"] .sun-and-moon > .sun {
    transition-timing-function: var(--ease-3);
    transition-duration: .25s;
    transform: scale(1.75);
  }

  [data-theme="dark"] .sun-and-moon > .sun-beams {
    transition-duration: .15s;
    transform: rotateZ(-25deg);
  }

  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transition-duration: .5s;
    transition-delay: .25s;
  }
}
