.page-header {
  margin-bottom: var(--row-gap-medium);

  & > p:first-child {
    margin-top: 0;
  }
}

.page-title {
  font: var(--font-display);
  letter-spacing: var(--font-display-spacing);
  margin: 0;
  text-wrap: balance;
  color: var(--color-base);
}

.page-subheader {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 1rem;
}

.page-description {
  font: var(--font-body-bold);
  letter-spacing: var(--font-body-spacing);
  margin: 0;
  text-wrap: balance;
  color: var(--color-dim);
  flex: 3;
}

.page-social-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 1rem;
  margin-left: 2rem;
  gap: 0.5rem;
}

.page-social-div a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.page-social-icon {
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
}

.page-navigation {
  margin-bottom: var(--row-gap-medium);

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  & h2 {
    font: var(--font-body-bold);
    letter-spacing: var(--font-body-spacing);
    margin: 0.5em 0;
  }
}

.page-pagination {
  border-top: solid 1px var(--color-line);
  margin-top: var(--row-gap-medium);
}
