.project-title {
    margin-bottom: 2px;
    font-size: 40px;
}

.project-category {
    font-size: 1rem;
    background: var(--accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1.5rem;
}

.project-description {
    color: var(--secondary);
    margin-top: var(--row-gap-xsmall);
    margin-bottom: var(--row-gap-small);
}

.project-meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* On larger screens, both sections take 50% width */
.project-client,
.project-technologies {
    max-width: 50%;
}

.project-client h3,
.project-technologies h3 {
    font: var(--font-ui-bold);
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--color-primary);
}

.project-client p,
.project-technologies p {
    margin: 0;
}

.project-link {
    font: var(--font-ui-bold);
    padding: 0.75rem;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

.project-link:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary-highlight);
    text-decoration: underline dotted;
    text-decoration-color: var(--color-primary-highlight);
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .project-meta {
        flex-wrap: wrap; /* allow items to wrap to new lines */
    }
    /* Place client and technologies on one row */
    .project-client {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .project-technologies {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
    /* Make the project link take the full width and center its content */
    .project-link {
        flex: 0 0 100%;
        text-align: center;
        margin-top: 1rem;
    }
}
