<!doctype html>

<html lang="{{ it.lang }}">
  {{ include "./head.vto" }}
  <body>
    <script src="/js/copy-code.js" type="module" defer></script>
    <script src="/js/burger-menu.js" type="module"></script>
    {{ include "./header.vto" }}

    <main class="{{ it.bodyClass }}">
      {{ content }}
    </main>

    <!-- Current page: {{ url }} -->

    {{ include "./footer.vto" }}
  </body>
</html>
