---
layout: layouts/base.vto
bodyClass: body-post
---
<article class="project-single" data-pagefind-body data-title="{{ title }}" data-pagefind-index-attrs="data-title">
    <header class="post-header">
        <p class="project-category">
            {{ for c of category }}
                {{ c }}
            {{ /for }}
        </p>
        <h1 class="post-title">
            {{ title }}
        </h1>
        {{ if description }}
        <div class="project-description">
            {{ description }}
        </div>
        {{/if}}

        <div class="project-meta">
            <div class="project-client">
                <h2>Client</h2>
                <p>{{ client }}</p>
            </div>
            <div class="project-technologies">
                <h2>Technologies</h2>
                {{for tech of technologies }}
                    <a data-pagefind-filter="" class="badge">
                        {{ tech }}
                    </a>
                {{/for}}
            </div>
            {{if link}}
                <a href="{{ link }}" class="project-link">Open Project →</a>
            {{/if}}
        </div>
    </header>

    {{ if content }}
    <div class="post-body body">
        {{ content }}
    </div>
    {{/if}}

    {{ if it.footnotes.length }}
  <aside role="note" class="footnotes">
    <dl>
      {{ for note of footnotes }}
      <div id={{ note.id }} class="footnote">
        <dt><a href="#{{ note.refId }}">{{ note.label }}</a></dt>
        <dd>{{ note.content }}</dd>
      </div>
      {{ /for }}
    </dl>
  </aside>
  {{ /if }}
</article>
