blockquote {
    margin: 1.5em 0;
    padding-block: 0.75em;
    padding-inline: 1.5em;
    background-color: var(--color-primary);
    border-left: solid 4px var(--color-primary-highlight);
    color: var(--color-highlight);

    & strong {
      color: var(--color-highlight);
    }
  }

blockquote a {
  color: var(--color-highlight);
}

blockquote strong {
  color: var(--color-highlight) !important;
}