---
layout: layouts/page.vto
section: About
title: About Me
description: Software engineer from Italy, currently at Amazon in Luxembourg. MSc in Computer Engineering from the University of Padua, with experience in Rust, distributed systems, and algorithm research.
url: /about/
menu:
  visible: true
  order: 1
---

<div class="about">
  <div class="description">
    <h2>Description</h2>
    <p>
      Recent master's graduate in Computer Engineering at the University of Padua, where I pursued a specialization in Big Data computing.
    </p>
    <p>
      I had the pleasure of exploring both the work and research experience, by first doing an internship at Unox, developing a custom renderer in Rust for their products built in NodeJS/React, and then a research opportunity at the University of Padua under the supervision of <a href="https://www.dei.unipd.it/~ceccarello/">prof. Matteo Ceccarello</a>, exploring the k Nearest Neighbor problem and proposing a new algorithm to solve it which we named <a href="https://github.com/enricobolzonello/clann">CLANN</a>.
    </p>
    <p>
      Big supporter of Rust. Curious about productivity and note taking methods, I'm currently experimenting <a href="https://enricobolzonello.github.io/notes/ZETA/PERMANENT/Zettelkasten">Zettelkasten</a> mixed with PARA, all in a <a href="https://github.com/DuskWasHere/dusk-obsidian-vault">single Obsidian vault</a>.
    </p>
    <p>
      Currently employed at Amazon in Luxembourg as a Software Dev Engineer.
    </p>
  </div>

  <div class="experience">
    <h2>Experience</h2>
    {{ for e of experience }}
      <div class="experience-item">
        <h3>&nbsp;{{ e.position }}</h3>
        <div class="experience-meta">
          <p>
            <img class="experience-icon" src="{{ "briefcase" |> icon("phosphor") }}" alt="Company" inline />
            {{ e.firm }}
          </p>
          <p>
            <img class="experience-icon" src="{{ "map-pin" |> icon("phosphor") }}" alt="Location" inline />
            {{ e.location }}
          </p>
          <p>
            <img class="experience-icon" src="{{ "calendar" |> icon("phosphor") }}" alt="Period" inline />
            {{ e.period }}
          </p>
        </div>
        <p class="experience-description">
          {{ e.description }}
        </p>
        <div class="experience-tags">
          {{ for tag of e.tags }}
            <p class="badge">{{ tag }}</p>
          {{ /for }}
        </div>
      </div>
    {{ /for }}
  </div>

  <div class="education">
        <h2>Education</h2>
        {{ for e of education}}
          <div class="experience-item">
            <h3>&nbsp{{e.degree}}</h3>
            <div class="experience-meta">
              <p><img class="experience-icon" src="{{ "graduation-cap" |> icon("phosphor") }}" alt="School" inline />{{e.school}}</p>
              <p><img class="experience-icon" src="{{ "map-pin" |> icon("phosphor") }}" alt="Location" inline />{{e.location}}</p>
              <p><img class="experience-icon" src="{{ "calendar" |> icon("phosphor") }}" alt="Period" inline />{{e.period}}</p>
            </div>
            <p class="experience-description">
              {{e.description}}
            </p>
          </div>
        {{ /for }}
      </div>

  <div class="album">
    <h2>Favourite Album</h2>
    <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/album/7ycBtnsMtyVbbwTfJwRjSP?utm_source=generator"
            width="100%" height="352" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
    </iframe>
  </div>
</div>
