---
layout: layouts/base.vto
bodyClass: body-home
title: Home
---

<div class="page-header">
  <h1 class="page-title">{{ home.welcome }}</h1>

  <div class="page-subheader">
    <p class="page-description">{{ home.description}}</p>

    <div class="page-social-div">
      {{ for social of socials}}
        <a href="{{social.url}}">
          <img class="page-social-icon" src="{{ social.icon |> icon("phosphor") }}" inline />
          {{ social.name }}
        </a>
      {{ /for }}
    </div>
  </div>

  <hr>
</div>

<div class="search" id="search"></div>

<section class="postList">
  {{ for post of search.pages("type=post", "date=desc", 3) }}
  <article class="post">
    <header class="post-header">
      <h2 class="post-title">
        <a href="{{ post.url }}" {{ if post.url == url }} aria-current="page"{{ /if }}>
          {{ post.title || post.url }}
        </a>
      </h2>

      {{ include "templates/post-details.vto" {
        date: post.date,
        tags: post.tags,
        author: post.author,
        readingInfo: post.readingInfo
        } }}
    </header>
  </article>
{{ /for }}
</section>
