---
layout: layouts/base.vto
bodyClass: body-home
title: Home
description: Personal website and blog of Enrico Bolzonello, software engineer at Amazon. Writing about Rust, algorithms, productivity, and software engineering.
---

<section class="postList">
  {{ for post of search.pages("type=post", "date=desc", 10) }}
  <article class="post">
    <header class="post-header">
      <h2 class="post-title">
        <a href="{{ post.url }}" {{ if post.url == url }} aria-current="page"{{ /if }}>
          {{ post.title || post.url }}
        </a>
      </h2>

      {{ include "templates/post-details.vto" {
        date: post.date,
        tags: post.tags,
        author: post.author,
        readingInfo: post.readingInfo
        } }}
    </header>
  </article>
{{ /for }}
</section>

<a href="/archive"> More posts →</a>
