/* Custom components */
@import "css/navbar.css";
@import "css/page.css";
@import "css/post-list.css";
@import "css/post.css";
@import "css/comments.css";
@import "css/projects.css";
@import "css/single-project.css";

@import "css/ds/main.css";

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/easings.min.css";

/* Make the links black */
:root {

  /* Fonts */
  --mono-fonts: "Fira Code", monospace;
  --serif-fonts:  "Source Serif", Georgia, serif;
  --sans-serif-fonts:  "Source Sans", Helvetica Neue, Helvetica, Arial;
  --para-font-size: 1.8rem;
  --smaller-font-size: 1.5rem;
  --larger-font-size: 2.1rem;

  /* Sizes */
  --main-width: 70%;
}

/* Page layout */
main {
  padding: var(--row-gap-medium) 0;
  max-width: min(100% - 15vw, 45em);
  margin: 0 auto;

  & > :first-child {
    margin-top: 0;
  }
}

/* Search tweak */
.search {
  margin-top: var(--row-gap-xsmall);
}
        
